<%@ Master Language="C#" AutoEventWireup="true" CodeFile="admin.master.cs" Inherits="Admin_admin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="<%=ResolveUrl("~/Content/Bootstrap.min.css") %>" rel="stylesheet" />
    <script src="<%=ResolveUrl("~/Scripts/Bootstrap.bundle.min.js") %>"></script>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    </head>
<body>
    <form id="form2" runat="server">
        <div style="background-color: #999999">
            <table align="center" style="border-style: solid; border-width: thin; font-family: Arial, Helvetica, sans-serif; font-size: medium; background-color: #CCCCCC" width="90%">
                <tr>
                    <td style="color: #333333; font-weight: 700; font-size: x-large" width="100">&nbsp;&nbsp;
                        <asp:Image ID="Image4" runat="server" Height="73px" ImageUrl="~/Images/admin.png" />
                    </td>
                    <td style="color: #333333; font-weight: 700; font-size: x-large">ADMIN PANEL</td>
                    <td style="color: #333333; font-weight: 700; font-size: x-large; text-align: right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <asp:ImageButton ID="ImageButton2" runat="server" Height="56px" ImageUrl="~/Images/shutdown_50px.png" PostBackUrl="~/User/home.aspx" />
                        &nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                    <asp:Menu ID="Menu1" runat="server" BackColor="#007777" ForeColor="White" Height="35px" Orientation="Horizontal" RenderingMode="Table" Width="100%">
                        <DynamicMenuStyle BackColor="Black" />
                        <Items>
                            <asp:MenuItem Text="HOME" Value="HOME" NavigateUrl="~/Admin/Home.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="ADD CATEGORY" Value="ADD CATEGORY" NavigateUrl="~/Admin/Category.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="SUB CATEGORY" Value="SUB CATEGORY" NavigateUrl="~/Admin/subcategory.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="ADD SERVICES" Value="ABOUT US" NavigateUrl="~/Admin/Addservices.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="GET EMPLOYEE" Value="SERVICES" NavigateUrl="~/Admin/Employee.aspx"></asp:MenuItem>
                            <asp:MenuItem></asp:MenuItem>
                            <asp:MenuItem Text="SEND NOTIFICATION" Value="SEND NOTIFICATION" NavigateUrl="~/Admin/Sendnotification.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="MANAGE ADMIN" Value="CHANGE PASSWORD" NavigateUrl="~/Admin/Manageadmin.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="REPORT" Value="REQUEST">
                                <asp:MenuItem Text="Category" Value="New Item" NavigateUrl="~/Report/Category.aspx"></asp:MenuItem>
                                <asp:MenuItem Text="Complaint" Value="New Item" NavigateUrl="~/Report/Complaint.aspx"></asp:MenuItem>
                                <asp:MenuItem Text="Enquiry" Value="New Item" NavigateUrl="~/Report/Enquiry.aspx"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Report/Feedback.aspx" Text="Feedback" Value="Feedback"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Report/Registration.aspx" Text="Registration" Value="Registration"></asp:MenuItem>
                            </asp:MenuItem>
                        </Items>
                    </asp:Menu>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="background-color: #000000">&nbsp;</td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
